$blue_color: #00affb;
$light_blue_color: #36dbdf;
$background: #0b1e33;
$fontIranSans: 'IranSans';
$min-width: 820px;
@font-face {
    font-family: 'IranSans';
    src: url('../fonts/iransans/IRANSansX-Medium.ttf');
  }